* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40.5px 835px 81px;
  font-family: arial, sans-serif;
  font-size: small;
}

nav {
  grid-column: 1 / span 3;
  grid-row: 1 /2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 /3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}
button {
  color: #5f6368;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f2f2;
}

button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #f8f8f8;
}
footer {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.nav-items {
  padding: 14px 14px 0 14px;
}
.nav-top-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
 padding-right: 15px;
 padding-left: 15px;
 padding-top: 10px; 
  align-items: center;
}
.gmail_logo {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 9px;
  border-radius: 50%;
  position: relative;
  background-color: #00897b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  cursor: pointer;
}
.gmail_text {
  color: white;
}

.squares {
  background-image: url("squares.png");
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.main-items {
  padding: 20px;
}

.footer-items {
  justify-self: end;
}

.google-logo {
  padding-top: 20%;
}

.button_lucky {
  width: 145px;
}

.button_search {
  width: 129px;
}

.search {
  display: flex;
  height: 44px;
  width: 582px;
  padding: 0;
  margin: 0;
  align-items: stretch;
}

.search_bar {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  width: 100%;
}

.search_bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.bottom-bars {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}
.bar {
  color: #5f6368;
  font-size: 14px;
}
.bar-top {
  padding-left: 27px;
}
.bot-text {
  padding-left: 27px;
}
.bot-text-right {
  padding-left: 0px;
  padding-right: 27px;
}
.bar-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
